
albumentations                         1.3.0                             
matplotlib                             3.5.3
numpy                                  1.21.6
nvidia-ml-py                           11.495.46
opencv-python                          4.5.4.60
pandas                                 1.3.5                                
pydicom                                2.3.1                        
pytorch-lightning                      1.9.3                         
scikit-learn                           1.0.2                       
scipy                                  1.7.3
seaborn                                0.12.2
sklearn-pandas                         2.2.0
tensorboard                            2.11.2
tensorflow                             2.11.0
torch                                  1.13.0+cpu
torchinfo                              1.7.2
torchmetrics                           0.11.1
torchtext                              0.14.0
torchvision                            0.14.0+cpu
tqdm                                   4.64.1

